<%- include('bootheader') -%>
<%- include('menubar') -%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
border-radius: 50%;
}
</style>
</head>
<body>

<img src="images/me.jpg" alt="Avatar" style="width:500px">

</body>
</html>

<%- include('bootfooter') -%>
