<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>whattoWEARther App</h1>
        <p><img src="images/sun.png" width="100"><img src="images/cloud:sun.png" width="100">
        <img src="images/cloud.png" width="100"><img src="images/wind.png" width="100">
      <img src="images/rain.png" width="100"><img src="images/thunder.png" width="100"></p>
    </div>
    <ul>
      <li><a href="/griddemo">Demo of Bootstrap Grid system</a></li>
      <li><a href="/myform">Demo of form for my personal app</a></li>
      <li><a href="/practiceQuiz">Quiz1</a></li>

    </ul>
<%- include('bootfooter') -%>
