<html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
  <style>
    body {
      font-family: 'Arimo', sans-serif;
      padding-top: 50px;
    }

    .menu-bar {
      position: absolute;
      top: 20px;
      left: 50%;
      height: 14px;
      margin-left: -10px;
    }

    .bars {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #333;
      box-shadow: 0 5px 0 #333, 0 10px 0 #333;
    }

    .menu {
      display: none;
      width: 100%;
      padding: 30px 10px 50px;
      margin: 0 auto;
      text-align: center;
      background-color: #fff;
    }
    .menu ul {
      margin-bottom: 0;
    }
    .menu a {
      color: #333;
      text-transform: uppercase;
      opacity: 0.8;
    }
    .menu a:hover {
      text-decoration: none;
      opacity: 1;
    }
  </style>
</head>
</html>

<link href="http://fonts.googleapis.com/css?family=Arimo:400" rel="stylesheet">
<a class="menu-bar" data-toggle="collapse" href="#menu">
  <span class="bars"></span>
</a>
<div class="collapse menu" id="menu">
  <ul class="list-inline">
    <li><a href="/homepage">Home</a></li>
    <li><a href="/aboutme">About</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="#">Weather</a></li>
    <li><a href="/showClothes">Closet</a></li>
  </ul>
</div>

</div>
