<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Clothing Preference</h1>
  <p>Please select the type of clothing that you wear!</p>
</div>

<form method="post" action="/processform">
  <table class="table">
    <tbody>
      <tr>
        <th scope="col"><img src="images/jacket.png" width="70"></th>
        <th scope="col"><img src="images/winterjacket.png" width="70"></th>
        <th scope="col"><img src="images/trenchcoat.png" width="70"></th>
        <th scope="col"><img src="images/sweater.png" width="70"></th>
        <th scope="col"><img src="images/suit.png" width="70"></th>
        <th scope="col"><img src="images/vest.png" width="70"></th>
      </tr>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather1">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather1">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather1">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather1">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather1">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather1">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather2">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather2">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather2">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather2">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather2">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather2">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather3">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather3">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather3">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather3">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather3">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather3">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather4">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather4">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather4">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather4">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather4">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather4">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather5">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather5">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather5">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather5">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather5">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather5">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather6">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather6">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather6">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather6">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather6">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather6">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="col"><img src="images/hoodie.png" width="70"></th>
        <th scope="col"><img src="images/regshirt.png" width="70"></th>
        <th scope="col"><img src="images/tanktop.png" width="70"></th>
        <th scope="col"><img src="images/dress.png" width="70"></th>
        <th scope="col"><img src="images/pants.png" width="70"></th>
        <th scope="col"><img src="images/skirt.png" width="70"></th>
        <th scope="col"><img src="images/shorts.png" width="70"></th>
      </tr>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather7">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather7">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather7">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather7">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather7">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather7">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather8">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather8">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather8">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather8">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather8">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather8">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather9">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather9">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather9">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather9">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather9">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather9">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather10">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather10">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather10">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather10">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather10">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather10">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather11">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather11">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather11">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather11">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather11">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather11">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather12">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather12">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather12">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather12">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather12">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather12">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weathe13r">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather13">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather13">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather13">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather13">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather13">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="col"><img src="images/sunhat.png" width="70"></th>
        <th scope="col"><img src="images/hat.png" width="70"></th>
        <th scope="col"><img src="images/beanie.png" width="70"></th>
        <th scope="col"><img src="images/sunglasses.png" width="70"></th>
        <th scope="col"><img src="images/flats.png" width="70"></th>
      </tr>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather14">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather14">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather14">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather14">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather14">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather14">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather15">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather15">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather15">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather15">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather15">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather15">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather16">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather16">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather16">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather16">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather16">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather16">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather17">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather17">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather17">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather17">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather17">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather17">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather18">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather18">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather18">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather18">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather18">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather18">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="col"><img src="images/boots.png" width="70"></th>
        <th scope="col"><img src="images/shoes.png" width="70"></th>
        <th scope="col"><img src="images/sandals.png" width="70"></th>
      </tr>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather19">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather19">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather19">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather19">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather19">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather19">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather20">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather20">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather20">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather20">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather20">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather20">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sunny" id="defaultCheck1" name="weather21">
            <label class="form-check-label" for="defaultCheck1">
              __ Sunny
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cloudy" id="defaultCheck2" name="weather21">
            <label class="form-check-label" for="defaultCheck2">
              __ Cloudy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rainy" id="defaultCheck3" name="weather21">
            <label class="form-check-label" for="defaultCheck3">
              __ Rainy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cold" id="defaultCheck4" name="weather21">
            <label class="form-check-label" for="defaultCheck4">
              __ Cold
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hot" id="defaultCheck5" name="weather21">
            <label class="form-check-label" for="defaultCheck5">
              __ Hot
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chilly" id="defaultCheck6" name="weather21">
            <label class="form-check-label" for="defaultCheck6">
              __ Chilly
            </label>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
  <input type="submit">
</form>


<%- include('bootfooter') -%>
