<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Closet</h1>
        <p>Add the clothes currently in your closet!</p>
    </div>

  <form method="post" action="/processform">
          <div class="form-group">
            <input class="form-control" name="file" type="text" placeholder="Clothes URL Here">
          </div>
          <input type="submit">

  </form>


<%- include('bootfooter') -%>
