<%- include('bootheader') -%>

<div class="jumbotron">
  <h1>CS152aj Quiz 1</h1>
  <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-1">
      <p><font size="5">1</font></p>
    </div>
    <div class="col-2">
      <p><font size="5">2</font></p>
    </div>
    <div class="col-3">
      <p><font size="5">3</font></p>
    </div>
    <div class="col-1">
      <p><font size="5">1</font></p>
    </div>
    <div class="col-2">
      <p><font size="5">2</font></p>
    </div>
    <div class="col-3">
      <p><font size="5">3</font></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-1">
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-2">
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-3">
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-1">
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-2">
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-3">
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
  </div>
</div>

<div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <table class="table table-bordered">
          <p><font size="5">Personal information</font></p>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>Birthday</td>
              <td><input type="text" value="mm/dd/yyyy"></td>
            </tr>
            <tr>
              <td>Gender</td>
              <td><div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                  male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                  other
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <p><font size="5">Short Bio</font></p>
      <textarea rows="10" cols="40">
        This space is 40 columns wide and has 10 rows. Only one gender can be selected at a time.
      </textarea>
      <br>
      <button type="button" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-warning">Save</button>
      <button type="button" class="btn btn-danger">Reset</button>
    </div>
  </div>

</div>





<%- include('bootfooter') -%>
